@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Epilogue light'),
    url(../fonts/Epilogue-Light.woff2) format('woff2'),
    url(../fonts/Epilogue-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Epilogue Regular'),
    url(../fonts/Epilogue-Regular.woff2) format('woff2'),
    url(../fonts/Epilogue-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Epilogue SemiBold'),
    url(../fonts/Epilogue-SemiBold.woff2) format('woff2'),
    url(../fonts/Epilogue-SemiBold.ttf) format('ttf');
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  color: #141414;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
:root {
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*428px, 768px і 1158px*/

/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Epilogue', sans-serif;
    color: #FFFFFF;
    background-color: #141414;
    margin: 0;
}

textarea {
    resize: none;
}

:hover,
:focus {
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
} */

.header-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-link {
  text-decoration: none;
}

.header-a {
  cursor: pointer;
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .header-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*HEADER*/

header {
  display: block;
  background-color: #141414;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  padding-top: 34px;

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;

  text-decoration: none;
}

.header-logo-img {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}

.header-logo-text {
  margin-left: 4px;
  padding-top: 2px;
}

@media screen and (min-width: 768px) {
  .header-logo-img {
    width: 19px;
    height: 19px;
  }
}

.header-menu {
  display: none;
  margin-left: 80px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    padding-top: 38px;
  }
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

/* .header-menu-item {
  padding-top: 38px;
  padding-bottom: 18px;
} */

.header-menu-link {
  display: block;

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;

  text-transform: uppercase;

  color: #ffffff;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after {
  background-color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

/*contacts*/

.header-address {
  display: none;
}

.header-contact-link {
  display: flex;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #1e2827;
  border-radius: 8px;
  padding: 18px 35px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: block;
    padding-top: 20px;
  }
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu-open-button {
  position: absolute;
  top: 25px;
  right: 8px;
  width: 45px;
  /* margin-top: 19px; */
  height: 33px;
  border: none;
  background-color: transparent;
}

.mobile-menu-open-icon {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-button {
    display: none;
  }
}
.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 200;
}

.mobile-menu-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-modal {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #1e2827;
  z-index: 1000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 34px;
}

.mobile-menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 171px;
}

.mobile-menu-logo {
  display: flex;
  align-items: center;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #ffffff;
  text-decoration: none;
}

.mobile-menu-logo-img {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}

.mobile-menu-logo-text {
  margin-left: 4px;
}

.mobile-menu-close-btn {
  position: relative;
  width: 24px;
  height: 24px;

  background: transparent;

  border: none;
  cursor: pointer;
  padding: 0;
  /* display: block; */
  /* fill: #FFFFFF; */
}

.mobile-menu-close-icon {
  position: absolute;

  width: 12px;
  height: 12px;
  color: #2e2f42;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* fill: #2E2F42; */
  fill: #ffffff;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: #ffffff;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu-link {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  text-transform: uppercase;
  color: #ffffff;

  text-align: center;
}

.mobile-menu-item.n1 {
  margin-bottom: 14px;
}

.mobile-menu-item.n2 {
  margin-bottom: 14px;
}

/* .mobile-menu-item.n3 {
    margin-bottom: 14px;
  } */

  .section-hero {
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 40px;
    background: #141414;
  }
  
  .hero-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin-bottom: 60px;
  }
  
  .hero-text-div-des {
    display: none;
  }
  
  .hero-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #ffffff;
    padding-left: 86px;
  }
  
  .swiper-container {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  
  .swiper {
    width: 266px;
    height: 200px;
    margin-left: 0;
  }
  .swiper-bt-pag {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .swiper-buttons {
    display: flex;
    height: 32px;
    gap: 12px;
    margin-right: 116px;
  }
  
  .swiper-pagination {
    display: flex;
    position: relative;
    bottom: 0;
  }
  
  .button-prev,
  .button-next {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    stroke: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-prev:hover,
  .button-prev:focus {
    border: 1px solid rgba(255, 255, 255);
    stroke: rgba(255, 255, 255);
  }
  
  .button-next:hover,
  .button-next:focus {
    border: 1px solid rgba(255, 255, 255);
    stroke: rgba(255, 255, 255);
  }
  
  .swiper-pagination-current {
    margin-right: 6px;
  }
  .swiper-pagination-total {
    margin-left: 6px;
  }
  
  .hero-text-div-mob {
    margin-bottom: 40px;
  }
  
  .img-hero-tab-des {
    display: none;
  }
  
  @media screen and (min-width: 375px) {
    .section-container-hero {
      width: 375px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .section-hero {
      display: flex;
      flex-wrap: wrap;
      padding-top: 80px;
      padding-bottom: 64px;
    }
  
    .section-container-hero {
      display: flex;
      flex-wrap: wrap;
      width: 768px;
      padding: 0 32px;
    }
  
    .hero-title {
      font-size: 60px;
      line-height: 1.03;
    }
  
    .swiper-container {
      margin-right: 20px;
    }
  
    .swiper {
      width: 436px;
      height: 255px;
    }
  
    .button-prev {
      width: 40px;
      height: 40px;
    }
    .button-next {
      width: 40px;
      height: 40px;
    }
  
    .swiper-buttons {
      margin-right: 0;
      height: 40px;
    }
  
    .icon-btn-prev-tab-des {
      width: 24px;
      height: 24px;
    }
  
    .icon-btn-next-tab-des {
      width: 24px;
      height: 24px;
    }
  
    .swiper-pagination {
      justify-content: flex-end;
    }
  
    .hero-text-div-mob {
      display: flex;
      align-items: center;
      margin-bottom: 120px;
    }
  
    .hero-text {
      padding: 0;
      width: 248px;
      height: 108px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .section-hero {
      padding-bottom: 80px;
    }
  
    .section-container-hero {
      width: 1200px;
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .hero-text-div-mob {
      display: none;
    }
  
    .hero-text-div-des {
      display: block;
    }
    .hero-title {
      margin-bottom: 0;
      margin-right: 144px;
    }
    .hero-text {
      width: 282px;
      height: 90px;
    }
  
    .hero-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 44px;
    }
  
    .swiper-container {
      margin-right: 64px;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
    .swiper {
      align-self: flex-end;
    }
    .swiper-buttons {
      margin-bottom: 0;
    }
  
    .swiper-bt-pag {
      margin-bottom: 0;
    }
  
    .img-hero-mob {
      display: none;
    }
  
    .img-hero-tab-des {
      display: flex;
    }
  }
  .container-about {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
  }
  
  .about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1e2827;
    margin-bottom: 40px;
  }
  
  .about-subtitle-one {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    width: 335px;
    margin-bottom: 20px;
  }
  
  .about-subtitle-two {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    margin-bottom: 40px;
    width: 335px;
  }
  
  .about-gif {
    width: 100%;
    height: 365px;
    object-fit: cover;
  }
  
  @media screen and (min-width: 375px) {
    .container-about {
      width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .container-about-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    .container-about-wrap {
      width: 335px;
    }
  }
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
    .container-about {
      width: 768px;
      padding-top: 64px;
      padding-bottom: 64px;
      padding-left: 32px;
      padding-right: 32px;
    }
  
    .container-about-wrap {
      width: 704px;
    }
  
    .container-about-wrap {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  
    .about-title {
      width: 174px;
      margin-bottom: 0;
    }
    .about-title-wrap {
      margin-right: 40px;
    }
    .about-subtitle-one {
      width: 220px;
      height: 100%;
      margin-right: 20px;
      margin-bottom: 40px;
    }
  
    .about-subtitle-two {
      width: 250px;
      height: 144px;
    }
  
    .about-title {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: -0.02em;
      color: #1e2827;
    }
  
    .about-gif {
      width: 704px;
      height: 465px;
    }
  
    .about-gif {
      object-fit: cover;
    }
  }
  
  /* desctop */
  
  @media screen and (min-width: 1280px) {
    .container-about {
      width: 1200px;
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .container-about-wrap {
      width: 1176px;
      margin-left: auto;
    }
  
    .container-about-wrap {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  
    .about-title {
      width: 174px;
      margin-bottom: 0;
    }
  
    .about-title-wrap {
      display: flex;
      justify-content: flex-start;
      margin-right: 110px;
    }
  
    .about-subtitle-one {
      width: 439px;
      height: 100%;
      margin-right: 40px;
      margin-bottom: 40px;
    }
  
    .about-subtitle-two {
      width: 380px;
      height: 100%;
      margin-right: 33px;
    }
  
    .about-gif {
      width: 892px;
      height: 500px;
      margin-left: auto;
    }
  
    .about-gif {
      object-fit: cover;
    }
  }
  /* _________________section Catalog_________________ */
.catalog {
  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog-tytle {
  width: 153px;
  height: 44px;
  font-size: 32px;
  line-height: calc(40 / 32);
  letter-spacing: -0.02em;
  color: #1e2827;
  margin-bottom: 40px;
}

.catalog-watches-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.catalog-watches-item {
  position: relative;
}

.catalog-overlay-link {
  display: block;
}

.catalog-icons {
  display: none;
}

.watches-overlay {
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;
}

.catalog-overlay-info {
  position: absolute;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #1e2827;
  border-radius: 8px;
  transform: translateY(100%);
  transition: transform 300ms linear;
  z-index: 10;
}

.catalog-overlay-link:hover .catalog-overlay-info {
  transform: translate(0);
  transition: transform 300ms linear;
}

.overlay-description {
  height: 18px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay-description-text {
  width: 236px;
  height: 53px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  margin-top: 10px;
}

.overlay-gender-text {
  width: 162px;
  height: 144px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.catalog-watches-tytle {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-watches-price {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.buy-now-btn {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #ffffff;
  text-transform: uppercase;
  padding: 14px 28px;
  min-width: 108px;
  height: 42px;
  background: #1e2827;
  border-radius: 8px;
  border: transparent;
  display: block;
  margin-left: auto;
  margin-top: 40px;
  text-align: center;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  border: 1px solid #ffffff;
}

.catalog-watches-item-desktop {
  display: none;
  position: relative;
}

@media screen and (min-width: 375px) {
  .catalog-container {
    width: 375px;
  }

  .catalog-watches-tytle {
    width: 257px;
  }
  .catalog-overlay-info {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .catalog-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .catalog {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .catalog-watches-list {
    flex-direction: row;
    gap: 40px 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalog-tytle {
    font-size: 40px;
    line-height: calc(44 / 40);
  }
  .catalog-icons {
    position: absolute;
    display: inline-block;
    stroke-width: 0;
    stroke: rgba(20, 20, 20, 0.1);
    fill: #ffffff;
    right: 14px;
    top: 14px;
    z-index: 1;
  }
  .buy-now-btn {
    width: 122px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .catalog-watches-item {
    width: 276px;
    height: 375px;
  }
  .watches-overlay {
    height: 325px;
  }
  .catalog-overlay-info {
    padding: 26px 20px 20px 20px;
  }
  .catalog-watches-item-desktop {
    display: block;
    width: 276px;
    height: 375px;
  }
  .catalog-watches-list {
    gap: 64px 24px;
  }
  .catalog-overlay-link {
    height: 375px;
  }

  .catalog-tytle {
    margin-bottom: 64px;
  }
  .catalog-icons {
    display: none;
  }
  .buy-now-btn {
    margin-top: 80px;
  }
}
/* MOBILE */
.container-new {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}

.section-new-subtitle {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 8px;
}

.section-new-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;
}

@media screen and (min-width: 375px) {
  .container-new {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .new-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    gap: 20px;
  }

  .section-new-title {
    width: 335px;
    height: 120px;
    margin-bottom: 40px;
  }

  .container-new-img {
    width: 335px;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container-new {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-new-title {
    width: 448px;
    height: 88px;
    margin-bottom: 40px;
  }

  .section-new-subtitle {
    line-height: 1.17;
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 8px;
  }
  .section-new-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #1e2827;
  }

  .container-new-img {
    width: 704px;
  }
  .container-new-img {
    display: flex;
    justify-content: center;
  }
}

/* DESCTOP */

@media screen and (min-width: 1280px) {
  .container-new {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .section-new-title {
    width: 444px;
    height: 88px;
    margin-bottom: 80px;
  }

  .section-new-subtitle {
    line-height: 1.17;
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 8px;
  }

  .container-new-img {
    width: 1176px;
  }

  .container-new-img {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
.sale {
  padding-top: 40px;
  padding-bottom: 80px;
}
.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(40 / 32);
  margin-bottom: 40px;
  letter-spacing: -0.02em;
}
.sale-watch-img {
  display: flex;
  gap: 20px;
}
.sale-watch-1 {
  margin-bottom: 10px;
}
.sale-watch-1:last-child {
  margin-bottom: 0;
}
.sale-watch-img,
.sale-name-tov,
.sale-characteristic-1 {
  margin-bottom: 40px;
}
.sale-name-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 8px;
  letter-spacing: -0.02em;
}
.sale-text {
  font-size: 14px;
  line-height: calc(18 / 14);
  color: rgba(20, 20, 20, 0.5);
  letter-spacing: -0.02em;
}
.sale-name-tov .sale-text {
  letter-spacing: -0.01em;
}
.sale-cost {
  font-size: 18px;
  line-height: calc(24 / 18);
  margin-top: 16px;
  letter-spacing: -0.02em;
}
.sale-cost-2 {
  font-size: 12px;
  line-height: calc(14 / 12);
  text-decoration-line: line-through;
  color: rgba(20, 20, 20, 0.5);
  margin-left: 8px;
  letter-spacing: -0.02em;
}
.sale-characteristic-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-transform: uppercase;
  padding: 8px 0;
  margin-bottom: 9px;
  border-top: 1px solid #141414;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: -0.02em;
}
.sale-characteristic-title:last-child {
  margin-bottom: 0;
}
.sale-characteristic-title::after {
  content: '';
  width: 16px;
  border: 1px solid #141414;
  height: 0px;
  display: block;
}

@media screen and (min-width: 375px) {
  .sale-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .sale {
    padding-top: 64px;
    padding-bottom: 128px;
  }
  .sale-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .sale-watch-img,
  .sale-name-tov,
  .sale-characteristic-1,
  .sale-characteristic-2 {
    margin-left: 66px;
    margin-right: 66px;
  }
  .sale-title {
    font-weight: 600;
    font-size: 40px;
    line-height: calc(44 / 40);
    color: #1e2827;
  }
  .sale-name-title {
    font-size: 38px;
    line-height: calc(40 / 38);
  }
}

@media screen and (min-width: 1280px) {
  .sale {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  .sale-container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .sale-title {
    margin-bottom: 80px;
  }
  .sale-watch-img,
  .sale-name-tov,
  .sale-characteristic-1,
  .sale-characteristic-2 {
    margin-left: 0;
    margin-right: 0;
  }
  .sale-watch-img {
    margin-bottom: 0;
  }
  .sale-characteristic-1 {
    margin-bottom: 20px;
  }
  .sale-blocks {
    display: flex;
    margin-left: 97px;
    margin-right: 98px;
    gap: 40px;
  }
  .sale-watch-img {
    width: 572px;
  }
  .sale-description {
    width: 369px;
  }
  .sale-characteristic-title {
    margin-bottom: 17px;
  }
}
.container-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #1e2827;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  background: #1e2827;
}

.footer-logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.contacts-link-footer {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.contacts-link-footer-adr {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.wrap-footer-contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 141px;
}

.contacts-item-footer {
  max-width: 141px;
}

.contacts-item-footer:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav-list {
  width: 63px;
}

.footer-nav-link {
  display: block;
}

.footer-navigation-list {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer-icon-soc {
  width: 24px;
  height: 24px;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  max-width: 239px;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  display: flex;
  max-width: 239px;
  flex-wrap: wrap;
  row-gap: 14px;
}

.footer-logo-desk {
  display: none;
}

.footer-wrap-text {
  display: flex;
  column-gap: 14px;
}

.footer-cont-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .container-footer {
    max-width: 375px;
  }

  .footer-cont-wrap {
    display: flex;
    column-gap: 131px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 768px;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    column-gap: 0px;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-desk {
    display: block;
    margin-bottom: 40px;
  }

  .footer-navigation-list {
    width: 81px;
  }

  .wrap-footer-contact {
    max-width: 182px;
  }

  .footer-copyright {
    margin-top: 152px;
    max-width: 768px;
    column-gap: 200px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .footer-paragraph {
    max-width: 279px;
  }
  .footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .footer-soc-list {
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 16px;
  }

  .footer-soc-item {
    width: 44px;
    height: 44px;
  }

  .footer-icon-soc {
    width: 28px;
    height: 28px;
  }

  .footer-wrap-text {
    width: 217px;
    justify-content: right;
    row-gap: 0px;
  }

  .footer-cont-wrap {
    display: flex;
    column-gap: 136px;
    width: 398px;
  }
  .footer-nav-list {
    width: 81px;
  }
  .contacts-list-footer {
    width: 181px;
  }
  .contacts-item-footer {
    min-width: 181px;
  }
  .contacts-link-footer-adr {
    width: 100%;
    font-size: 18px;
    line-height: 1.33;
  }

  .contacts-link-footer {
    width: 100%;
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-nav-link {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-wrap-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .container-footer {
    max-width: 1200px;
    padding-top: 104px;
    padding-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer-nav-list {
    width: 115px;
  }
  .footer-soc-list {
    margin-right: 0px;
  }

  .footer-copyright {
    margin-top: 174px;
  }

  .footer-copyright {
    max-width: 1176px;
    column-gap: 680px;
  }

  .footer-wrap-text {
    margin-left: 0px;
    justify-content: end;
  }

  .footer-cont-wrap {
    display: flex;
    column-gap: 349px;
    width: 645px;
  }
}
.backdrop {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 1s linear, visibility 1s linear;
  overflow: auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 100%;
  /* height: 1073px; */
  left: 50%;
  /* top: 50%; */
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
  isolation: isolate;
  transform: translate(-50%) scale(1) rotate(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon {
  display: flex;
  width: 20px;
  height: 20px;
  stroke: #141414;
}
.close-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: -8px;
  border: none;
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-svg {
  border: 1.3px solid #141414;
  line-height: 100%;
}
.modal-block1-list {
  list-style: none;
  margin-bottom: 40px;
}
.modal-block1-item {
  max-width: 276px;
  height: 375px;
  margin: auto;
}

.modal-block1-item-img {
  margin-bottom: 14px;
}

.modal-block1-description {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.modal-block1-title {
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Epilogue';
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  font-weight: 400;
}
.modal-block1-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.modal-block2-form {
  display: flex;
  flex-direction: column;
  height: 578px;
  max-width: 295px;
}
.modal-block2-label {
  padding: 0px;
  margin-bottom: 18px;
}

.modal-no {
  margin-bottom: 20px;
}

.modal-block2-title {
  display: block;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 12px;
}
.modal-block2-input-wrap {
  position: relative;
}
.modal-block2-input {
  padding: 12px 16px;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
}
.modal-block2-input::placeholder {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  display: flex;
}
.comments {
  min-height: 170px;
  resize: none;
  height: auto;
  margin-bottom: 0px;
}
input:not(:placeholder-shown):required:valid {
  border: 1px solid rgba(20, 20, 20, 0.5);
}
input:not(:placeholder-shown):required:invalid {
  border-color: red;
  border-radius: 10px;
}
.submit-modal-btn {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  min-height: 50px;
  background: #1e2827;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 12px;
}
.modal-bottom-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
  margin: 0 auto;
}
.modal-bottom-link {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
}
.modal-bottom-text br {
  display: none;
}
@media screen and (min-width: 375px) {
  .modal {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: auto;
  }

  .modal-block2-form {
    margin: auto;
  }
}

/*  768   */
@media screen and (min-width: 768px) {
  .modal {
    max-width: 744px;
    max-height: 670px;
    padding: 40px;
    height: 1073px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
  .close-modal-btn {
    top: -32px;
    right: -10px;
    position: relative;
    padding: 6px;
  }
  .close-modal-icon {
    width: 24px;
    height: 24px;
  }
  .modal-block1 {
    float: left;
    margin-right: 20px;
  }
  .modal-block1-list {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-block2 {
    margin-top: -32px;
    margin-right: -10px;
  }
  .modal-block2-form {
    max-width: 368px;
  }
  .modal-block2-label {
    width: 100%;
  }
  .modal-block2-title {
    font-size: 14px;
    line-height: 1.29;
    padding: 0;
  }
  .modal-block2-input {
    width: 368px;
  }
  .modal-block2-input::placeholder {
    font-size: 16px;
    line-height: 1.12;
  }
  .comments {
    max-width: 368px;
    margin-bottom: 0px;
  }
  .submit-modal-btn {
    width: 368px;
  }
}

/*   1280  */
@media screen and (min-width: 1280px) {
  .modal {
    max-width: 904px;
    max-height: 694px;
  }
  .modal-block1 {
    margin-right: 40px;
  }
  .modal-block2 {
    height: 614px;
  }
  .modal-block2-form {
    max-width: 508px;
    height: 100%;
  }
  .modal-block2-input {
    width: 508px;
  }
 
  .modal-no {
    margin-bottom: 40px;
  }

  .comments {
    max-width: 508px;
    margin-bottom: 0px;
  }
  .submit-modal-btn {
    width: 508px;
  }
  .modal-bottom-text {
    margin-left: 0;
  }
  .modal-bottom-text br {
    display: block;
  }
}